TOKEN=your_telegram_bot_token
DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost/subscriptions_db
ADMIN_USER_ID=1867377574
OKX_api_key=your_okx_api_key
OKX_secret_key=your_okx_secret_key
OKX_passphrase=your_okx_passphrase
CMC_api_key=your_coinmarketcap_api_key
